* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.font-nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

.bg-red-opt {
    background-color: #f03328;
}
.hover-red:hover {
    background-color: #f03328;
    color: white;
}
.text-red-opt {
    color: #f03328;
}
.bg-green {
    background-color: #4f6839;
}

.text-green {
    color: #4f6839;
}

.text-red {
    color: #680818;
}
.text-yellow {
    color: #de9f11;
}
.text-yellow-secondary {
    color: #ffdd90;
}

.bg-yellow-opt {
    background-color: #ff9e0c;
}
.bg-red {
    background-color: #680818;
}
.bg-yellow {
    background-color: #de9f11;
}

/* .dropdown-item:focus,
.dropdown-item.active {
    background-color: #de9f11 !important;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #de9f11 !important;
    color: white !important;
} */

.hero {
    background-image: url("/images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 655px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 44, 30, 1);
    opacity: 0.6;
    z-index: 1;
}

.hero > * {
    position: relative;
    z-index: 2;
    color: white;
}

.about-section {
    background-color: white;
    border-top-left-radius: 50% 45px;
    border-top-right-radius: 50% 45px;
    margin-top: -50px;
    padding: 30px;
    padding-top: 100px;
    z-index: 3;
    position: relative;
    overflow: hidden;
}

.card {
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border: none;
}

.beli:hover {
    background-color: #f03328;
}

.search-bar {
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.pagination .page-item .page-link {
    padding: 10px 20px;
    border-radius: 8px;
    color: black;
    border: 1px solid #dee2e6;
    font-size: 16px;
}

.pagination .page-item.active .page-link {
    background-color: #e9ecef;
    border-color: transparent;
    color: black;
    font-weight: bold;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    background-color: white;
    border-color: #dee2e6;
}

.pagination .page-item .page-link:hover {
    background-color: #f8f9fa;
    border-color: #dee2e6;
}

.pagination .page-link i {
    margin: 0 5px;
}

.pagination .page-link {
    display: flex;
    align-items: center;
}

.custom-background {
    background-image: url("/images/bg.png");
    background-size: cover;
    min-height: 100vh;
}
header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-indicators [data-bs-target] {
    background-color: white;
    border: 2px solid #f03328;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #f03328;
}

tbody tr:nth-child(even) td {
    background-color: #cbd5e1;
}

.dynamic-container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

/* Change to container at larger screens */
@media (min-width: 992px) {
    .dynamic-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .dynamic-container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .dynamic-container {
        max-width: 1320px;
    }
}

.nav-link {
    position: relative;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 80%;
    height: 2px;
    background-color: #ff9e0c;
    transform: translateX(-50%);
    transition: width 0.3s ease, background-color 0.3s ease;
    width: 0;
}

.nav-link:hover::after {
    width: 80%;
}

.nav-active::after {
    width: 80%;
    background-color: #ff9e0c;
    transform: translateX(-50%);
}

.dropdown-toggle::after {
    display: none !important;
}
